<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,24}</string>
                <key>spriteSourceSize</key>
                <string>{94,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,50}</string>
                <key>spriteSourceSize</key>
                <string>{444,50}</string>
                <key>textureRect</key>
                <string>{{0,24},{444,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,114}</string>
                <key>spriteSourceSize</key>
                <string>{228,114}</string>
                <key>textureRect</key>
                <string>{{0,74},{228,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,30}</string>
                <key>spriteSourceSize</key>
                <string>{240,30}</string>
                <key>textureRect</key>
                <string>{{228,74},{240,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,20}</string>
                <key>spriteSourceSize</key>
                <string>{490,20}</string>
                <key>textureRect</key>
                <string>{{0,188},{490,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,30}</string>
                <key>spriteSourceSize</key>
                <string>{156,30}</string>
                <key>textureRect</key>
                <string>{{0,208},{156,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,30}</string>
                <key>spriteSourceSize</key>
                <string>{156,30}</string>
                <key>textureRect</key>
                <string>{{156,208},{156,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,30}</string>
                <key>spriteSourceSize</key>
                <string>{156,30}</string>
                <key>textureRect</key>
                <string>{{312,208},{156,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,30}</string>
                <key>spriteSourceSize</key>
                <string>{147,30}</string>
                <key>textureRect</key>
                <string>{{0,238},{147,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,25}</string>
                <key>spriteSourceSize</key>
                <string>{130,25}</string>
                <key>textureRect</key>
                <string>{{147,238},{130,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,25}</string>
                <key>spriteSourceSize</key>
                <string>{130,25}</string>
                <key>textureRect</key>
                <string>{{277,238},{130,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,25}</string>
                <key>spriteSourceSize</key>
                <string>{130,25}</string>
                <key>textureRect</key>
                <string>{{0,268},{130,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,200}</string>
                <key>spriteSourceSize</key>
                <string>{301,200}</string>
                <key>textureRect</key>
                <string>{{130,268},{301,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title_plist.png</string>
            <key>size</key>
            <string>{490,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d920604250eb887865ab55115a37e5a:5d52007fe39a01c78c8621c994e500db:c094b605e65e522b8d9f2685af7f54a0$</string>
            <key>textureFileName</key>
            <string>title_plist.png</string>
        </dict>
    </dict>
</plist>
